{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": true,
        "htmlWhitespaceSensitive": true
      }
    },
    {
      "files": "*.css",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "semi": true,
        "cssWhitespaceSensitive": "strict",
        "cssText": "preserve"
      }
    },
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 4,
        "useTabs": true
      }
    }
  ]
}
