{
  "$schema": "https://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": true,
        "htmlWhitespaceSensitive": true,
        "semi": false
      }
    },
    {
      "files": "*.css",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": true,
        "semi": true,
        "cssWhitespaceSensitive": "strict",
        "cssText": "preserve",
        "singleQuote": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 4,
        "useTabs": true,
        "trailingComma": "none"
      }
    }
  ]
}
